<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Pepew</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/lab-1/">Intro</a></li>
            <li><a href="/lab-2/">Biodata</a></li>
            <li><a href="/lab-3/">Diary</a></li>
            <li><a href="/lab-4/">Portofolio</a></li>
            <li><a href="/lab-5/">Todo</a></li>
            <li><a href="/lab-6/">Calculator</a></li>
            <li><a href="/lab-7/">Fasilkom Database</a></li>
            <li><a href="/lab-8/">MyPesbuk</a></li>
            <li><a href="/lab-9/">EnterKomputer DB</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
