/*#cover-photo {
	padding: 10px;
	margin: 20px;
	max-width: 100%;
}*/
#lab8 {
	background-color: #D7CEC7;
}

.picture-photo {
	background-color: #DCEAB2;
	margin-top: 30px;
	margin-bottom: 20px;
}
.picture {
	border-radius: 50%;
}

#cover-photo {
	background-color: #72A5BF;
}
.description {
	margin-top: 50px;
	margin-bottom: 50px;
}
#postInput, #title-post {
	float: left;
}
.postStatus, .logout {
	float: right;
}
#title-post, #postInput {
	margin-bottom: 20px;
}
#title-post {
	color: mediumspringgreen;
	font-family: Calibri;
}
.login {
	margin-bottom: 20px;
}
.before-login {
	min-height: 660px;
	padding: 200px;
}
#pic-desc {
	min-height: 250px;
	background-color: #DCEAB2;
}
#postInput {
	margin-top: 5px;
	margin-bottom: 30px; 
}
.post-div {
	background-color: #00BFFF;
	min-height: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
}
#user-pic {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	max-height: 50px;
	border-radius: 20%;
}
.desc-font {
	margin-left: 5px;
	font-size: 20px;
}
.user-feed {
	padding: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;
	border-radius: 20%;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}