{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            // mengambil daftar teman yang ada di database
            $.ajax({
                method: "GET",

                // mengambil 'data' yang ada di url tersebut
                url: "{% url 'lab-7:get-friend-list' %}",

                // menampilkan 'data' yang berhasil diambil dan diberi nama 'friend_list'
                success: function (friend_list) {
                    console.log(friend_list); 

                    // untuk setiap elemen di lst, yaitu 'friend', yang posisinya ditunjukkan dengan 'index'
                    $.each(friend_list.results, function(index, friend) {
                        var del_button = '<span class="pull-right"><button type="button" class="btn btn-xs btn-danger"' + 'onClick="deleteFriend(\'' + friend.npm + '\')"> HAPUS </span></button>';
                        var input = "<a class='list-group-item clearfix'>" + friend.friend_name + " (" + friend.npm  + ")" + del_button + "</a>";
                        $('#friend-list').append(input);
                    });
                },
                error: function(error){
                    // #tampilkan pesan error
                    var errorMsg = '<div class alert alert-danger>\
                        <strong>Oops!</strong> Tidak ada teman\
                        </div>';
                    $('#friend-list').append(errorMsg);
                }
            });   
        });
        const deleteFriend = function(npm) {
            window.open('delete-friend/' + npm + '/', '_self');
        }
    </script>
{% endblock %}
