{% extends "lab_7/layout/base.html" %}
{% block content %}
<section name="mahasiswa-list" id="mahasiswa-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2> Mahasiswa Fasilkom</h2>
                <div class="list-group">
                    {% if mahasiswa_list %}
                        {% for mahasiswa in mahasiswa_list %}
                            <a class="list-group-item clearfix">
                                {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                <span class="pull-right">
                        <span class="btn btn-xs btn-default" onClick="addFriend('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')">
                            Tambah sebagai teman
                        </span>
                    </span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada mahasiswa
                        </div>
                    {% endif %}
                </div>
                <div id="paginate">
                    {% if mahasiswa_list.has_other_pages %}
                        <ul class="pagination">
                            {% if mahasiswa_list.has_previous %}
                                <li><a href="{% url 'lab-7:index' %}">&laquo;</a></li>
                                <li><a href="?page={{ mahasiswa_list.previous_page_number }}">&lsaquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&lsaquo;</span></li>
                            {% endif %}
        
                            {% for page_number in page_range %}
                                {% if mahasiswa_list.number == page_number %}
                                    <li class="active"><span>{{ page_number }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if mahasiswa_list.has_next %}
                                <li><a href="?page={{ mahasiswa_list.next_page_number }}">&rsaquo;</a></li>
                                <li><a href="?page={{ mahasiswa_list.paginator.num_pages }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <h2> Teman Saya </h2>
                <div class="list-group" id="friend-list">
                    {% if friend_list %}
                        {% for friend in friend_list %}
                            <a class="list-group-item clearfix">
                                {{ friend.friend_name }} ({{ friend.npm }})
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                    {% endif %}
                </div>
                <form id="add-friend" action="#">
                    {% csrf_token %}
                    <label for="field_npm">npm</label>
                    <input id="field_npm" type="text" name="npm" class="form-control"/>
                    <label for="field_name">name</label>
                    <input id="field_name" type="text" name="name" class="form-control"/>
                    <button type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    var addFriend = function(nama, npm) {
        $.ajax({
            method: "POST", // melakukan method POST
            url: "{% url 'lab-7:add-friend' %}", // di url berikut
            data: { name: nama, npm: npm}, // mengambil data berikut
            dataType : 'json',
            success : function (friend) {
                html = '<a class="list-group-item clearfix">' +
                    friend.friend_name + ' (' + npm + ')' + 
                    '</a>';
                $("#friend-list").append(html)
            },
            error : function (error) {
                alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
            }
        });
    };

    // menambahkan teman ketika tombol submit ditekan
    $("#add-friend").on("submit", function () {
       name = $("#field_name").val()
       npm = $("#field_npm").val()
        addFriend(name, npm)
        event.preventDefault(); // default action of the event will not be triggered 
    });

    
    $("#field_npm").change(function () {
        console.log( $(this).val() );
        npm = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:validate-npm" %}',
            data: {
                'npm': npm
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Mahasiswa dengan npm seperti ini sudah ada");
                }
            }
        });
    });

/*
 * A plugin for making Bootstrap's pagination more responsive
 * https://github.com/auxiliary/rpage/blob/master/responsive-paginate.jss
*/

(function ($){
    jQuery.fn.rPage = function () {
        var $this = $(this);
        for(var i = 0, max = $this.length; i < max; i++)
        {
            new rPage($($this[i]));
        }

        function rPage($container)
        {
            this.label = function()
            {
                var active_index = this.els.filter(".active").index();
                var rp = this;
                this.els.each(function(){
                    if (rp.isNextOrPrevLink($(this)) == false)
                    {
                        $(this).addClass("page-away-" + (Math.abs(active_index - $(this).index())).toString());
                    }
                    else
                    {
                        if ($(this).index() > active_index)
                        {
                            $(this).addClass("right-etc");
                        }
                        else
                        {
                            $(this).addClass("left-etc");
                        }
                    }
                });
            }

            this.makeResponsive = function()
            {
                this.reset();
                var width = this.calculateWidth();

                while (width > this.els.parent().parent().outerWidth() - 10)
                {
                    var did_remove = this.removeOne();
                    if (did_remove == false)
                    {
                        break;
                    }
                    width = this.calculateWidth();
                }
            }

            this.isNextOrPrevLink = function(element)
            {
                return (
                    element.hasClass('pagination-prev')
                    || element.hasClass('pagination-next')
                    || element.text() == "»"
                    || element.text() == "«"
                );
            }

            this.isRemovable = function(element)
            {
                if (this.isNextOrPrevLink(element))
                {
                    return false;
                }
                var index = this.els.filter(element).index();
                if (index == 1 || this.isNextOrPrevLink($container.find("li").eq(index + 1)))
                {
                    return false;
                }
                if (element.text() == "...")
                {
                    return false;
                }
                return true;
            }

            this.removeOne = function()
            {
                var active_index = this.els.filter(".active").index();
                var farthest_index = $container.find("li").length - 1;
                var next = active_index + 1;
                var prev = active_index - 1;

                for (var i = farthest_index - 1; i > 0; i--)
                {
                    var candidates = this.els.filter(".page-away-" + i.toString());
                    var candidate = candidates.filter(function(){
                        return this.style["display"] != "none";
                    });
                    if (candidate.length > 0)
                    {
                        for (var j = 0; j < candidate.length; j++)
                        {
                            var candid_candidate = candidate.eq(j);
                            if (this.isRemovable(candid_candidate))
                            {
                                candid_candidate.css("display", "none");
                                if (this.needsEtcSign(active_index, farthest_index - 1))
                                {
                                    this.els.eq(farthest_index - 2).before("<li class='disabled removable'><span>...</span></li>");
                                }
                                if (this.needsEtcSign(1, active_index))
                                {
                                    this.els.eq(1).after("<li class='disabled removable'><span>...</span></li>");
                                }
                                return true;
                            }
                        }
                    }
                }
                return false;
            }

            this.needsEtcSign = function(el1_index, el2_index)
            {
                if (el2_index - el1_index <= 1)
                {
                    return false;
                }
                else
                {
                    var hasEtcSign = false;
                    var hasHiddenElement = false;
                    for (var i = el1_index + 1; i < el2_index; i++)
                    {
                        var el = $container.find("li").eq(i);
                        if (el.css("display") == "none")
                        {
                            hasHiddenElement = true;
                        }
                        if (el.text() == "...")
                        {
                            hasEtcSign = true;
                        }
                    }
                    if (hasHiddenElement == true && hasEtcSign == false)
                    {
                        return true;
                    }
                }
                return false;
            }

            this.reset = function()
            {
                for (var i = 0; i < this.els.length; i++)
                {
                    this.els.eq(i).css("display", "inline");
                }
                $container.find("li").filter(".removable").remove();
            }

            this.calculateWidth = function()
            {
                var width = 0;
                for (var i = 0; i < $container.find("li").length; i++)
                {
              width += $container.find("li").eq(i).children("a").length
                && $container.find("li").eq(i).children("a").eq(0).outerWidth();
              width += $container.find("li").eq(i).children("span").length
                && $container.find("li").eq(i).children("span").eq(0).outerWidth();
                }
                return width;
            }

            this.els = $container.find("li");
            this.label();
            this.makeResponsive();

            var resize_timer;

            $(window).resize(
                $.proxy(function()
                {
                    clearTimeout(resize_timer);
                    resize_timer = setTimeout($.proxy(function(){this.makeResponsive()}, this), 100);
                }, this)
            );
        }
    };
}(jQuery));

$(document).ready(function () {
    $(".pagination").rPage();
});
</script>
{% endblock %}

