<!-- templates/lab_8/partials/header.html -->
<!--Fixed navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/lab-8/">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#section-profile">Profile</a></li>
        <li><a href="#">Post Status</a></li>
        <li><a href="#section-feed">Feed</a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
